.search_bar { text-align: center; padding: 200px; }
.search_buttons { padding: 25px 0px 10px 0px; }

input[type=text] { 
    width: 38%; 
    padding: 12px; 
    box-shadow: 1px 1px #ccc; 
    border: .5px solid #ccc;
}
img{ padding: 10px; }

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}